.dialog {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80vw;
  height: max(20vh, 300px);
  z-index: 2;
  display: flex;
  border: 3px solid var(--platinum);
  border-radius: 16px;
  background-color: var(--black);
  padding: 1rem 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  animation: slide-in 1s ease-out;
}

.dialog__img {
  border-radius: 8px;
  width: max(5%, 150px);
}

.dialog__text {
  font-size: 2rem;
  width: 80%;
  height: 80%;
  overflow-y: auto;
}

.dialog__text p {
  padding: 0 1rem;
}

.dialog__option {
  display: block;
  width: 100%;
  height: 20%;
  margin: 1% 0;
}

@keyframes slide-in {
  from {
    left: 50%;
    transform: translate(-50%, 100%);
  }
}
