@import url(//fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,700);
/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */
:root {
  --black: #000000ff;
  --primary-color: #588157;
  --orange-web: #f564a9;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
      --background-color: #01242e;
      --heading-color: #eee;
      --text-color: #ddd;
      --link-color: #8cc2dd;
      --visited-color:  #8b6fcb;
      --code-background-color: #000;
      --code-color: #ddd;
      --blockquote-color: #ccc;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--primary-color);
  font-family: 'Montserrat Alternates', sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--platinum);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--white);
}
a {
  color: var(--orange-web);
}

nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: var(--black);
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
