---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { Dialog } from '../components/Dialog';
import { ParticleBackground } from '../components/ParticleBackground';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main>
      <img class="portrait" src="tom.jpeg" alt="Tom Corey" />
      <h1>👊 Welcome, Bruther</h1>
      <p>
        Hey I'm Tom, a software engineer from Rhode Island. My expertise is in
        web development with <strong>React, Vue, TypeScript, and Node.js</strong
        >. I enjoy working with a variety of technologies and learning new
        things.
      </p>
      <p>
        Not to long ago, I was working as a full stack software engineer at
        <a href="https://starry.com/" target="_blank">Starry</a>, a Boston-based
        <a
          href="https://en.wikipedia.org/wiki/Internet_service_provider"
          target="_blank">internet service provider</a
        >. I was responsible for adding features to our <a
          href="https://order.starry.com/signup/59b811777bf2fb0a9213c3d9"
          target="_blank">sign up flow</a
        >, maintaining out our internal admin dashboard, and building out a <a
          href="https://account.starry.com/login"
          target="_blank"
        >
          new customer portal.
        </a>
      </p>
      <p>
        Unfortunately, Starry started to struggle financially and was forced to
        lay off 50% their staff, including myself.
        <strong>
          I'm currently looking for a new job, so if you're hiring,
          <a href="mailto:tombcorey@gmail.com" target="_blank"
            >please reach out!</a
          >
        </strong>
      </p>
    </main>

    <Dialog client:load />

    <ParticleBackground client:load />

    <Footer />

    <style>
      main {
        text-align: center;
      }
      .portrait {
        width: 40%;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
      }
    </style>
  </body>
</html>
