---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { Dialog } from '../components/Dialog';
import { ParticleBackground } from '../components/ParticleBackground';
import { Card } from '../components/Card';
import JobExperience from '../components/JobExperience';

const jobs: JobExperience[] = [
  // {
  //   title: 'Software Engineer',
  //   company: 'Starry Inc.',
  //   emoji: '🌟',
  //   startDate: new Date('2022-04-03'),
  //   endDate: new Date('2022-10-25'),
  //   points: [
  //     `Built an up-sell page in a customer facing UI that is critical to
  //     the business (Starry's internet signup flow) that resulted
  //     in a 15% take-rate for the up-sell`,

  //     `Designed, developed, and tested a new customer account portal, used
  //     to promote up-sells and allow them to manage their internet
  //     subscription`,

  //     `Built an up-sell page in a customer facing UI that is
  //     critical to the business (Starry's internet signup flow) that
  //     resulted in a 15% take-rate for the up-sell`,
  //   ],
  //   skills: ['Vue', 'JavaScript', 'Node.js', 'MongoDB', 'Sass'],
  // },
  {
    title: 'Front End Software Engineer',
    company: 'DealerOn',
    emoji: '🚗',
    startDate: new Date('2020-012-024'),
    points: [
      "Leads UI development for inventory team's projects",

      `Built an internal app used by employees to customize how vehicle 
      pricing was shown on dealer's (our customers) websites, 
      to help them meet their compliance/marketing needs`,

      `Maintains UI used for congregating and managing 
      the inventory data of over 4000 car dealerships`,
    ],
    skills: ['React', 'Vue', 'TypeScript', 'C#', 'Sass'],
  },
  {
    title: 'Software Engineer',
    company: 'CVS Health',
    emoji: '🏥',
    startDate: new Date('2020-10-01'),
    endDate: new Date('2020-11-30'),
    points: [
      'Worked on a SAFe Agile team delivering solutions for the public CVS Health RESTful API',
      'Utilized TypeScript, React, and Node to create a tool for the generation of API proxies on Google Cloud’s Apigee platform',
    ],
    skills: ['TypeScript', 'React', 'Node.js', 'Sass'],
  },
  {
    title: 'Software Engineer',
    company: 'Maverick Investment Tech',
    emoji: '📈',
    startDate: new Date('2020-1-01'),
    endDate: new Date('2020-10-20'),
    points: [
      'Worked on an interactive tool to retrieve and visualize stock data for financial analysis using React',
      'Created parts of a PHP RESTful API to import external stock information from a PostgreSQL datastore',
    ],
    skills: ['JavaScript', 'React', 'PHP', 'PostgreSQL'],
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main>
      <Card className="introduction">
        <img class="portrait" src="tom.jpeg" alt="Tom Corey" />
        <p>
          Hey I'm Tom, a software engineer from Rhode Island. My expertise is in
          web development with <strong
            >React, Vue, TypeScript, and Node.js</strong
          >. I enjoy working with a variety of technologies and learning new
          things.
          <strong>
            I'm currently looking for a new job, so if you're hiring,
            <a href="mailto:tombcorey@gmail.com" target="_blank"
              >please reach out!</a
            >
          </strong>
        </p>
      </Card>

      {jobs.map((job) => <JobExperience {...job} />)}
    </main>

    <!-- <Dialog client:load /> -->

    <ParticleBackground client:load />

    <Footer />

    <style>
      .introduction {
        text-align: center;
        background: var(--primary-color);
      }
      .portrait {
        width: 40%;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
      }

      .portrait:hover {
        animation: portrait-rotate 3s infinite linear;
      }

      @keyframes portrait-rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </body>
</html>
